In [1]:
import pandas as pd

In [2]:
df = pd.read_csv ('data.csv')

In [3]:
df

,rank,name,channel_Info,Category,Posts,Followers,Avg. Likes,Eng Rate
0,1,instagram,brand,photography,7.3K,580.1M,7.31K,0.1%
1,2,cristiano,male,"Health, Sports & Fitness",3.4K,519.9M,3.41K,1.4%
2,3,leomessi,male,"Health, Sports & Fitness",1K,403.7M,0.97K,1.7%
3,4,kyliejenner,female,entertainment,7K,375.9M,7.02K,1.7%
4,5,selenagomez,female,entertainment,1.8K,365.3M,1.85K,1.1%
...,...,...,...,...,...,...,...,...
195,196,fcbayern,male,"Health, Sports & Fitness",16.8K,35.4M,16.78K,0.6%
196,197,colesprouse,male,entertainment,1.1K,35.3M,1.14K,3.5%
197,198,shaymitchell,male,entertainment,6.3K,35.1M,6.31K,1.2%
198,199,ivetesangalo,female,entertainment,7.8K,35M,7.77K,0.4%
199,200,paollaoliveirareal,female,entertainment,4.8K,34.9M,4.78K,0.7%

In [22]:
df_dropped=df.drop(['rank','channel_Info','Category','Posts','Avg. Likes','Eng Rate'],axis = 1)
df_dropped

                   name Followers
0             instagram    580.1M
1             cristiano    519.9M
2              leomessi    403.7M
3           kyliejenner    375.9M
4           selenagomez    365.3M
..                  ...       ...
195            fcbayern     35.4M
196         colesprouse     35.3M
197        shaymitchell     35.1M
198        ivetesangalo       35M
199  paollaoliveirareal     34.9M

[200 rows x 2 columns]

In [23]:
filename = 'instaFollowers'
df_dropped.to_csv(filename, sep=',', index=False, encoding='utf-8')

In [24]:
 d = pd.read_csv("instaFollowers.txt", delimiter=" ", header = None).to_dict()[0]

In [25]:
d

{0: 'name,Followers',
 1: 'instagram,580.1M',
 2: 'cristiano,519.9M',
 3: 'leomessi,403.7M',
 4: 'kyliejenner,375.9M',
 5: 'selenagomez,365.3M',
 6: 'therock,354.3M',
 7: 'arianagrande,345.6M',
 8: 'kimkardashian,336.3M',
 9: 'beyonce,287.3M',
 10: 'khloekardashian,283.9M',
 11: 'justinbieber,270.2M',
 12: 'nike,257.6M',
 13: 'taylorswift,236.2M',
 14: 'jlo,228.8M',
 15: 'virat.kohli,228M',
 16: 'kendalljenner,223.4M',
 17: 'natgeo,220.6M',
 18: 'nickiminaj,206.8M',
 19: 'kourtneykardash,206.2M',
 20: 'kendalljenner,204.4M',
 21: 'neymarjr,196.2M',
 22: 'natgeo,196.1M',
 23: 'mileycyrus,189.9M',
 24: 'katyperry,179.8M',
 25: 'zendaya,161.8M',
 26: 'kevinhart4real,157.6M',
 27: 'iamcardib,145.6M',
 28: 'ddlovato,143.5M',
 29: 'badgalriri,139.2M',
 30: 'kingjames,139.2M',
 31: 'champagnepapi,127.6M',
 32: 'theellenshow,127.1M',
 33: 'chrisbrownofficial,125.5M',
 34: 'realmadrid,120.9M',
 35: 'fcbarcelona,113.6M',
 36: 'billieeilish,107.4M',
 37: 'championsleague,99.9M',
 38: 'gal_gadot,91.6M',
 39: 'dualipa,87.5M',
 40: 'k.mbappe,87.2M',
 41: 'nasa,85.8M',
 42: 'lalalalisa_m,85.5M',
 43: 'vindiesel,84.9M',
 44: 'priyankachopra,83.9M',
 45: 'khaby00,80.2M',
 46: 'shakira,77.7M',
 47: 'snoopdogg,77.6M',
 48: 'shraddhakapoor,76.7M',
 49: 'gigihadid,76.4M',
 50: 'davidbeckham,76.2M',
 51: 'victoriassecret,73.8M',
 52: 'aliaabhatt,73.6M',
 53: 'nehakakkar,72.9M',
 54: 'nba,72.6M',
 55: 'jennierubyjane,72.4M',
 56: 'shawnmendes,71M',
 57: 'narendramodi,70.9M',
 58: 'deepikapadukone,70.5M',
 59: 'katrinakaif,68.9M',
 60: 'emmawatson,68.8M',
 61: 'ronaldinho,68.3M',
 62: 'tomholland2013,67.7M',
 63: 'justintimberlake,67.5M',
 64: 'marvel,67M',
 65: 'sooyaaa__,66.6M',
 66: 'raffinagita1717,66M',
 67: 'camila_cabello,65.8M',
 68: 'roses_are_rosie,65.2M',
 69: 'jacquelinef143,64.3M',
 70: 'akshaykumar,63.6M',
 71: 'psg,63.6M',
 72: 'anitta,63.5M',
 73: 'maluma,62.8M',
 74: 'willsmith,62.7M',
 75: 'karimbenzema,62M',
 76: 'premierleague,61.8M',
 77: 'anushkasharma,61.6M',
 78: 'manchesterunited,61.4M',
 79: 'milliebobbybrown,60.3M',
 80: 'urvashirautela,60.2M',
 81: 'marcelotwelve,60M',
 82: 'whinderssonnunes,58.6M',
 83: '9gag,58.1M',
 84: 'karolg,58.1M',
 85: 'iamzlatanibrahimovic,56.8M',
 86: 'zacefron,56.6M',
 87: 'bellahadid,56.6M',
 88: 'chrishemsworth,56.1M',
 89: 'beingsalmankhan,56M',
 90: 'juventus,55.9M',
 91: 'paulpogba,55.7M',
 92: 'dishapatani,55.5M',
 93: 'zara,55.2M',
 94: 'mosalah,54.8M',
 95: 'tatawerneck,54.6M',
 96: 'sunnyleone,54.4M',
 97: 'sergioramos,54.3M',
 98: 'leonardodicaprio,54.2M',
 99: 'robertdowneyjr,53.9M',
 100: 'thv,53.8M',
 101: 'ayutingting92,53.5M',
 102: 'chanelofficial,53.5M',
 103: 'ladygaga,53.5M',
 104: 'jbalvin,52.8M',
 105: 'michelleobama,51.9M',
 106: 'kritisanon,51.8M',
 107: 'hudabeauty,51.6M',
 108: 'adele,51M',
 109: 'krisjenner,50.9M',
 110: 'blackpinkofficial,50.9M',
 111: '433,50.6M',
 112: 'jamesrodriguez10,50.2M',
 113: 'louisvuitton,50.1M',
 114: 'lelepons,50M',
 115: 'nusr_et,49.9M',
 116: 'gucci,49.8M',
 117: 'jokowi,49.6M',
 118: 'haileybieber,49.6M',
 119: 'jungkook.97,49.2M',
 120: 'charlidamelio,48.7M',
 121: 'dovecameron,48.4M',
 122: 'harrystyles,47.9M',
 123: 'vanessahudgens,47.9M',
 124: 'larissamanoela,47.9M',
 125: 'stephencurry30,47.8M',
 126: 'zayn,47.6M',
 127: 'travisscott,47.2M',
 128: 'daddyyankee,47M',
 129: 'vancityreynolds,46.9M',
 130: 'j.m,46.5M',
 131: 'theweeknd,46.5M',
 132: '5.min.crafts,46.2M',
 133: 'thenotoriousmma,46.2M',
 134: 'natgeotravel,46M',
 135: 'maisa,45.8M',
 136: 'nikefootball,45.4M',
 137: 'jannatzubair29,45.2M',
 138: 'varundvn,44.9M',
 139: 'badbunnypr,44.6M',
 140: 'hrithikroshan,44.6M',
 141: 'gusttavolima,43.9M',
 142: 'buzzfeedtasty,43.9M',
 143: 'kapilsharma,43.8M',
 144: 'brunamarquezine,43.7M',
 145: 'norafatehi,43.6M',
 146: 'ranveersingh,42.5M',
 147: 'dior,42.3M',
 148: 'uarmyhope,42.2M',
 149: 'georginagio,42.2M',
 150: 'cznburak,42.2M',
 151: 'jin,42.1M',
 152: 'laliga,41.9M',
 153: 'voguemagazine,41.8M',
 154: 'britneyspears,41.7M',
 155: 'teddysphotos,41.4M',
 156: 'virginia,41.4M',
 157: 'saraalikhan95,41.4M',
 158: 'marinaruybarbosa,41.2M',
 159: 'agustd,41.2M',
 160: 'princessyahrini,41.2M',
 161: 'jenniferaniston,41.1M',
 162: 'worldstar,41M',
 163: 'andresiniesta8,40.8M',
 164: 'natashawilona12,40.5M',
 165: 'rkive,40.3M',
 166: 'mahi7781,40.1M',
 167: 'liverpoolfc,39.9M',
 168: 'prattprattpratt,39.9M',
 169: 'addisonraee,39.5M',
 170: 'wizkhalifa,39.4M',
 171: 'parineetichopra,39.2M',
 172: 'anushkasen0408,39M',
 173: 'chrissyteigen,38.6M',
 174: 'hm,38.5M',
 175: 'wesleysafadao,38.3M',
 176: 'marvelstudios,38.2M',
 177: 'houseofhighlights,37.9M',
 178: 'tyga,37.7M',
 179: 'eminem,37.6M',
 180: 'sachintendulkar,37.5M',
 181: 'danialves,37.4M',
 182: 'gisel_la,37.4M',
 183: 'blakelively,37M',
 184: 'chelseafc,36.6M',
 185: 'shahidkapoor,36.6M',
 186: 'kimberly.loaiza,36.6M',
 187: 'toni.kr8s,36.6M',
 188: 'antogriezmann,36.4M',
 189: 'mercedesbenz,36.4M',
 190: 'nattinatasha,36.1M',
 191: 'tigerjackieshroff,36.1M',
 192: 'lunamaya,36.1M',
 193: 'mancity,36M',
 194: 'disney,35.8M',
 195: 'barackobama,35.5M',
 196: 'fcbayern,35.4M',
 197: 'colesprouse,35.3M',
 198: 'shaymitchell,35.1M',
 199: 'ivetesangalo,35M',
 200: 'paollaoliveirareal,34.9M'}